name: Destroy Deployment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment to destroy"
        required: true
        type: choice
        default: dev
        options:
          - dev
          - stage
          - prod

permissions:
  contents: read

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.8.4"

      #- name: Terraform Init
        #run: terraform init -backend-config=backends/backend-${{ github.event.inputs.environment }}.hcl

      - name: Terraform Destroy
        run: terraform destroy -var-file=envs/${{ github.event.inputs.environment }}.tfvars -auto-approve
